MealTracker.xcodeproj/project.xcworkspace/contents.xcworkspacedata
MealTracker.xcodeproj/project.xcworkspace/xcshareddata/MealTracker.xccheckout
MealTracker.xcodeproj/project.xcworkspace/xcuserdata/Will.xcuserdatad/UserInterfaceState.xcuserstate
MealTracker.xcodeproj/project.xcworkspace/xcuserdata/Will.xcuserdatad/WorkspaceSettings.xcsettings
MealTracker.xcodeproj/xcuserdata/Will.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MealTracker.xcodeproj/xcuserdata/Will.xcuserdatad/xcschemes/MealTracker.xcscheme
MealTracker.xcodeproj/xcuserdata/Will.xcuserdatad/xcschemes/xcschememanagement.plist
MealTracker.xcworkspace/xcuserdata/Will.xcuserdatad
